.presuTracker {
    border-collapse: collapse;
    min-width: 750px;
}

.presuTracker * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.presuTracker th {
    text-align: left;
    padding: 10px 20px;
    border-bottom: 2px solid #3bb143;
}

.presuTracker td {
    padding: 5px;
}

.input,
.borrar {
    height: 30px;
    font-size: 13px;
    padding: 0 10px;
    margin: 0;
    box-sizing: border-box;
}

.input {
    border: 1px solid #dddddd;
    border-radius: 5px;
    outline: none;
}

.input:focus {
    border-color: #bbbbbb;
}

.borrar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    background: none;
    color: red;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.borrar:hover {
    background: rgba(255, 0, 0, 0.1);
}

.controles,
.resumen {
    text-align: right;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: #3bb143;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 60px;
}